<div class="row">
  <div class="col-12 d-flex">
    <div class="col-2">
      <app-side-nav></app-side-nav>
    </div>
    <div class="col-10 mt-70 d-flex align-width-screen">
      <div class="p-0" [ngClass]="{ 'col-4': !isLibraryHidden, 'col-1': isLibraryHidden}">
        <div class="Library-card" *ngIf="!isLibraryHidden">
          <div class="font17">
            <div class="d-flex align-items-center justify-content-between mb-3">
              <span class="heading-color ml-2 font17">Media Library</span>
              <div class="d-flex align-items-center">
                <span class="search-form-icon mr-2" id="search" (click)="toggleSearch()">
                  <i class="fa fa-search search-icon"></i></span>
                <div class="side-close-box">
                  <span class="side-close-icon" (click)="isLibraryHidden=true"><img
                      src="assets/InfluencerDashboard/close.svg"></span>
                </div>
              </div>
            </div>
            <div class="search-box mt-3 mr-2" *ngIf="isSearch">
              <form #searchForm="ngForm" (ngSubmit)="searchForm.valid && getAllProducts()">
                <input class="library-search-form" name="searchProduct" id="exampleInputEmail1" #searchProduct="ngModel"
                  [(ngModel)]="search" (input)="getAlldata(search)">
                <button type="submit" class="search-form-icon transparentBg"><i
                    class="fa fa-search search-icon"><label>Search</label></i></button>
              </form>
              <div *ngIf="searchForm.submitted && searchProduct.invalid" class="text-danger ">
                Search is required
              </div>
            </div>
          </div>
          <div class="gray-seperator mt-2"></div>
          <div class="p-2">
            <div class="d-flex pointer">
              <label class="heading-color">Filter</label>
              <i class="fa fa-caret-up ml-auto" *ngIf="isFilterOpen" (click)="isFilterOpen = !isFilterOpen"></i>
              <i class="fa fa-caret-down ml-auto" *ngIf="!isFilterOpen" (click)="isFilterOpen = !isFilterOpen"></i>
            </div>
            <div class="filter-dropdown" *ngIf="isFilterOpen">
              <div class="form-group">
                <label>Product Category</label>
                <!-- <select class="form-control" name="category" #categor_Name="ngModel"
                  [(ngModel)]="filtercategory.categorName">
                  <option *ngFor="let category of allcategoryArr;let i=index" [value]="category.category_id"
                    [selected]="i==0">
                    {{category.category_name}}</option>
                </select> -->
                <ng-multiselect-dropdown [placeholder]="'Product Category'" [data]="allcategoryArr"
                  [(ngModel)]="selectedProducts" [settings]="dropdownSettings" (onSelect)="onProductSelect($event)"
                  (onSelectAll)="onSelectAll($event)" (onDeSelect)="onUnSelectAll($event) ">
                </ng-multiselect-dropdown>
              </div>
              <!-- <div class="form-group">
                <label>Brand</label>
                <select class="form-control" disabled>
                  <option>Lorem Ipsum</option>
                </select>
              </div> -->
              <div class="form-group">
                <label>Size</label>
                <div>
                  <select class="form-control" name="size" [(ngModel)]="filtercategory.size">
                    <option value="" selected disabled>Select size</option>
                    <option *ngFor="let size of wearingSizeOfFilter" [value]="size">{{size}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label>Status</label>
                <div>
                  <select class="form-control" name="status" [(ngModel)]="filtercategory.mediaStatus">
                    <option value="" selected disabled>Select status</option>
                    <option *ngFor="let status of statusList" [value]="status">{{status}}</option>
                  </select>
                </div>
              </div>
              <div style="text-align:center">
                <button [disabled]="filtercategory.categorName===''" type="button"
                  class="btn upload-btn gray-bckgnd mr-2" (click)="search='';resetFilter();">Reset</button>
                <button type="button" class="btn upload-btn yello-bckgnd" [disabled]="filtercategory.categorName===''"
                  (click)="getAllProducts();">Apply
                  Filters</button>
              </div>
            </div>
            <div class="left-library-containt no-gutters">
              <div *ngIf="influencerMedia &&  influencerMedia.length">
                <div class="card-text">Recently Added</div>
                <div class="w-100 row justify-content-between">
                  <div class="mt-2 col-6" *ngFor="let media of influencerMedia;let ind = index;">
                    <div class="card" style="width:8.35rem">
                      <img *ngIf="media.media_type==='IMAGES'" class="card-img-top"
                        [src]="media?.media_url || '../../assets/image.png'" alt="Card image" style="height:5.5rem">
                      <video style="height: 5.5rem" *ngIf="media.media_type==='VIDEO'" controls>
                        <source [src]="media?.media_url || '../../assets/image.png'" type="video/mp4">
                      </video>
                      <div class="card-body p-1">
                        <div class="card-text m-1">
                          <div class="d-inline">
                            <span *ngIf="media.uploadeDays > 0">
                              {{media.uploadeDays}} Days ago
                            </span>
                            <br>
                            <span>
                              Status : {{media.status}}
                            </span>
                          </div>
                          <span class="dropdown pointer">
                            <img class="setting-image-small dropdown-toggle"
                              src="assets/InfluencerDashboard/settings.svg" aria-expanded="false"
                              data-toggle="dropdown">
                            <ul class="dropdown-menu setting_alignment" role="menu">
                              <li (click)="viewImage(ind)"><a class="dropdown-item">View</a></li>
                              <li (click)="editImage(ind)"><a class="dropdown-item">Edit</a></li>
                              <li data-toggle="modal" data-target="#deleteModal" (click)="currentMedia = media"><a
                                  class="dropdown-item">Delete</a>
                              </li>
                            </ul>
                          </span>
                        </div>
                      </div>
                    </div>
                    <view-details-product [media]="media" *ngIf="media?.isViewimage" [_display]="media.isViewimage"
                      [doAction]="media.action" (isClose)="closePopup($event)">
                    </view-details-product>
                  </div>
                </div>
                <div class="align-middle mt-3" *ngIf="influencerMedia.length">
                  <button type="button" class="preview-btn btn px-4 py-1" [disabled]="selectedPageNumber == 0"
                    (click)="getNextProducts('prev')"
                    [ngStyle]="{'cursor':selectedPageNumber == 0 ? 'not-allowed' : 'pointer'}"><a><i
                        class="fa fa-caret-left" aria-hidden="true"></i></a></button>
                  <span class="text-align-middle"> {{(selectedPageNumber * 6 + 1)}} -
                    {{((selectedPageNumber * 6) + influencerMedia.length)}}
                    of {{totalElement}}</span>
                  <button type="button" class="next-btn btn px-4 py-1"
                    [disabled]="(!influencerMedia.length || ((selectedPageNumber * 6) + influencerMedia.length) == totalElement || influencerMedia.length < 6)"
                    (click)="getNextProducts('next')"
                    [ngStyle]="{'cursor': (!influencerMedia.length || ((selectedPageNumber * 6) + influencerMedia.length) == totalElement || influencerMedia.length < 6) ? 'not-allowed' :'pointer'}"><a><i
                        class="fa fa-caret-right" aria-hidden="true"></i></a></button>
                </div>
              </div>
              <div class="text-center" *ngIf="!influencerMedia?.length">
                Medias are not available
              </div>
            </div>
          </div>
          <div class="gray-seperator"></div>
        </div>
        <div *ngIf="isLibraryHidden" class="hidden-library" (click)="isLibraryHidden=false">
          <div class="heading-color font17 mt-4 p-2">M L</div>
          <div class="search-form-icon m-auto" id="search"><i class="fa fa-search search-icon"></i></div>
          <div class="gray-seperator mt-3"></div>
          <div class="heading-color mt-2">F</div>
          <div class="gray-seperator"></div>
          <div class="mt-2 card-text">R A</div>
        </div>
      </div>
      <div class="" [ngClass]="{ 'col-8': !isLibraryHidden, 'col-10': isLibraryHidden}">
        <div class="custom-card-outer">
          <div class="row">
            <div class="col-12 custom-card">

              <div class="col-6" appDrag (files)="filesDropped($event)">
                <span class="font-1 mt-2 font-weight-bold yello">UPLOAD FILES</span>
                <div class="upload-file-box mt-2">
                  <span class="d-block">
                    <img src="assets/InfluencerDashboard/upload.svg">
                  </span>
                  <div class="col-12 rmpm dropzone">
                    <div class="text-wrapper">
                      <div class="centered">Drop your file here!</div>
                    </div>
                  </div>
                  <span class="d-block pb-1 lightgray">OR</span>
                  <input type="file" title="Upload Files" style="display:none;" id="filesToUpload" name="filesToUpload"
                    [(ngModel)]="filesToUpload" (change)="getFilesAfterUpload($event)" multiple
                    accept="image/*,video/*">
                  <label class="btn upload-btn yello-bckgnd" style="cursor: pointer;" for="filesToUpload">Upload
                    Files</label>
                  <p class="upload-info pt-3 lightgray">only jpeg, png, gif and mp4 files with max size of 15 MB
                  </p>
                  <p class="upload-info2 pt-1 gray">*We recommended uploading all images & vedios specific to one
                    product at a time ,for essier product & model details entry.*</p>
                </div>
              </div>
              <div class="col-6 p-0">
                <div class="d-flex" *ngIf="fileList?.length">
                  <div class="labelAlign">
                    <label class="font-2 d-block heading-color">Uploaded File List</label>
                  </div>
                  <div class="buttonAlign">
                    <button class="btn table-btn1 ml-auto mr-2"
                      (click)="selectImage( selectedImageAsFile.length > 0 ? 'DeselectAll' :'SelectAll'  )">
                      {{selectedImageAsFile.length ?  'De Select':'Select all' }}
                      <a [popover]="refSizeinf" class="ml-auto">
                        <img style="height:0.625rem" src="assets/Guest-final-step–5/info.svg">
                      </a>
                      <popover-content class="p-containt" #refSizeinf placement="bottom" [closeOnClickOutside]="false">
                        <div class="darkgray font-s9">Enter details for all images or select each </div>
                        <div class="darkgray font-s9">enter details for one or more images</div>
                      </popover-content>
                    </button>
                    <button class="btn table-btn" (click)="deleteUploadedImage('All')">Delete
                      all</button>
                  </div>
                </div>
                <div class="uploading-box mt-2">
                  <div class="images-box" *ngIf="fileList?.length">
                    <div class="row no-gutters">
                      <div class="col-4 pointer" *ngFor="let file of fileList" (click)="selectImage('Single', file)">
                        <img class="img-cross-icon" style="cursor: pointer"
                          src="assets/InfluencerDashboard/closeicon.png"
                          (click)="deleteUploadedImage('Single', file.media_id)">
                        <div class="uploading-images">
                          <img class="img-fit-inDiv" *ngIf="file.media_type==='IMAGES'" [src]="file.media_url">
                          <video *ngIf="file.media_type==='VIDEO'" controls style="overflow: hidden;">
                            <source [src]="file.media_url" type="video/mp4">
                          </video>
                          <div [ngClass]="{'border-yellow': file.isSelected }"
                            class="complit-box d-flex justify-content-center align-items-center">
                            <a class="complit-icon d-block" *ngIf="file.isSelected ">
                              <img src="assets/InfluencerDashboard/select.svg" /></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-12 custom-card">
              <form class="w-100" #f="ngForm" (ngSubmit)="f.valid  && createProduct(f)">
                <div class="header-content">
                  <h6>Enter Product And Model Details</h6>
                  <p>You can enter the details of the selected files from the uploaded list.</p>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label>Product Name<span class="text-danger">*</span></label>
                      <input type="text" class="form-control" #productName="ngModel" name="productName"
                        [(ngModel)]="productDetails.product_name" [disabled]="!isMediaSelect"
                        [ngClass]="{'require': f.submitted && !productName.valid}" pattern="^[a-zA-Z]+.*?[^\s]{1,100}$"
                        required maxlength="100">
                      <!-- <div *ngIf="productName.invalid && (productName.dirty || productName.touched)"  class="text-danger">
                          <div *ngIf="productName.errors.required">
                            ProductName  is required.
                          </div>
                          <div *ngIf="productName.errors.pattern"  class="text-danger">
                            Please Enter Characters
                          </div>
                        </div> -->
                    </div>
                    <div class="form-group">
                      <label>Product URL<span class="text-danger">*</span></label>
                      <input type="text" class="form-control" #productUrl="ngModel"
                        [ngClass]="{'require': f.submitted && !productUrl.valid }" name="productUrl"
                        [(ngModel)]="productDetails.product_url" required [disabled]="!isMediaSelect" maxlength="50">
                      <!-- pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})" -->
                      <div *ngIf="f.submitted" class="text-danger">
                        <!-- <div *ngIf="productUrl.errors.required">
                            First Name is required.
                          </div> -->
                        <div *ngIf="productUrl?.errors?.pattern" class="text-danger">
                          Please enter proper URL.
                        </div>
                      </div>
                    </div>
                    <div class="form-group assign-tag-box">
                      <label>Assign Tag</label><span class="card-text"> Separate tags with commas</span>
                      <p-chips name="assignTag" [disabled]="!isMediaSelect"
                        [ngClass]="{'disabled_assign_tag .ui-chips>ul.ui-inputtext':!isMediaSelect}"
                        [(ngModel)]="productDetails.assign_tag" #assignTag="ngModel"
                        [styleClass]="(f.submitted && assignTag?.errors?.pattern )?'redborder':''"
                        pattern="^[a-zA-Z]+.*?[^\s]{1,100}$" max="5">
                      </p-chips>
                      <div *ngIf="f.submitted" class="text-danger">
                        <!-- <div *ngIf="productUrl.errors.required">
                              First Name is required.
                            </div> -->
                        <div *ngIf="assignTag?.errors?.pattern" class="text-danger">
                          Please enter Characters
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label>Product Category<span class="text-danger">*</span></label>
                      <!--   -->
                      <select class="form-control" name="productCategory" [(ngModel)]="productDetails.category_name"
                        #prodCategory="ngModel" [ngClass]="{'require': f.submitted && !prodCategory.valid}" required
                        [disabled]="!isMediaSelect" (change)="findCategoryId(productDetails.category_name)">
                        <option value="" selected hidden disabled></option>
                        <option *ngFor="let category of allcategoryArr" [value]="category.category_name">
                          {{category.category_name}}
                        </option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Product Price (USD($))<span class="text-danger">*</span></label>
                      <input class="form-control" name="productPrice" id="priceFiled" [(ngModel)]="productDetails.product_price"
                        #prodPrice="ngModel"
                        [options]="{ prefix: '$', thousands: ',', hundred: ',', align: 'left', precision: 2, allowNegative: false }"
                        [ngClass]="{'require': (f.submitted && !prodPrice.valid) || (f.submitted && productDetails.product_price < 1) }"
                        currencyMask required maxlength="8" [disabled]="!isMediaSelect">
                      <!--   -->
                    </div>
                    <div class="form-group">
                      <label>Size Tag <span class="text-danger">*</span></label>
                      <span><label class="font-s10"> Size Metrics:</label><a> US</a>
                        <img class="pencil-img" src="assets/Guest-final-step–5/pencil.svg">
                      </span>
                      <select class="form-control" name="size" [(ngModel)]="productDetails.size_tag"
                        (change)="findMeasurementId()" #_size="ngModel"
                        [ngClass]="{'require': f.submitted && !_size.valid}" required [disabled]="!isMediaSelect">
                        <option selected value="" hidden disabled></option>
                        <option *ngFor="let sizes of measurements" [value]="sizes.size">{{sizes.size}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Reflekt me tips<span class="text-danger">*</span></label>
                      <input type="text" class="form-control" #tips="ngModel" name="tips"
                        [(ngModel)]="measurementDetailObj.reflektmeOnTips" [disabled]="!isMediaSelect"
                        pattern="^[a-zA-Z]+.*?[^\s]{1,200}$" [ngClass]="{'require': f.submitted && !tips.valid}"
                        required maxlength="200">
                      <!-- <div *ngIf="tips.invalid && (tips.dirty || tips.touched)"  class="text-danger">
                          <div *ngIf="tips.errors.required">
                            Reflekt me tips required.
                          </div>
                          <div *ngIf="tips.errors.pattern"  class="text-danger">
                            Please Enter Characters
                          </div>
                        </div> -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label>Influencer<span class="text-danger">*</span></label>
                      <select class="form-control" name="infl" #infl="ngModel" [(ngModel)]="productDetails.user_id"
                        [ngClass]="{'require': f.submitted && !infl.valid}" required [disabled]="!isMediaSelect">
                        <option [value]="influencer.userId" *ngFor="let influencer of influencerList"
                          class="text-capitalize">{{influencer.firstName}} {{influencer.lastName}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="mb-2 lightgray">Model Measurements <span class="text-danger">*</span></div>
                <div class="gray-seperator mb-3"></div>
                <div class="Model-Measurements-wrapper d-flex justify-content-between">
                  <div class="form-group width5">
                    <label>Size<span class="text-danger">*</span></label>
                    <select class="form-control" name="wearingSize" #wearing_Size="ngModel"
                      [(ngModel)]="measurementDetailObj.size"
                      [ngClass]="{'require': f.submitted && !wearing_Size.valid}" required [disabled]="!isMediaSelect">
                      <option selected value="" hidden disabled></option>
                      <option *ngFor="let sizes of wearingSize" [value]="sizes.size">{{sizes.size}}</option>
                    </select>
                  </div>
                  <div class="form-group width7">
                    <label>Height<span class="text-danger">*</span></label>
                    <div class="switch6" style="border:1px solid #999999;">
                      <label class="switch6-light">
                        <input type="checkbox" name="isHeightInCm"
                          (click)="isHeightInFeet?(measurementDetailObj.heightMeasurement='FEET'):(measurementDetailObj.heightMeasurement='CM')"
                          [(ngModel)]="isHeightInCm" [disabled]="!isMediaSelect">
                        <span class="pointer">
                          <span>FEET</span>
                          <span>CM</span>
                        </span>
                        <a class="btn switch-colr"></a>
                      </label>
                    </div>
                    <input *ngIf="isHeightInCm" type="number" placeholder="cm" class="form-control no-spin"
                      #hight="ngModel" name="height" [(ngModel)]="measurementDetailObj.heightCentemeter"
                      [ngClass]="{'require': f.submitted && !hight.valid }" required
                      pattern="^((?<!-)\b([1-3]?\d{1,2}|400)\b|\d)(\.\d{1,2})?$" type="number"
                      [disabled]="!isMediaSelect">
                    <div *ngIf="!isHeightInCm" class="d-flex">
                      <input type="number" placeholder="feet" class="form-control no-spin" #hight="ngModel"
                        name="height" [(ngModel)]="measurementDetailObj.heightFeet" pattern="([1-9]|1[0-2])"
                        [ngClass]="{'require': f.submitted && !hight.valid }" [disabled]="!isMediaSelect" required>
                      <input type="number" placeholder="inch" class="form-control no-spin ml-1" name="inchForHt"
                        #inchForHt="ngModel" [(ngModel)]="measurementDetailObj.heightInch" pattern="([1-9]|1[0-2])"
                        [ngClass]="{'require': f.submitted && !inchForHt.valid }"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        type="number" maxlength="2" [disabled]="!isMediaSelect">
                    </div>
                  </div>
                  <div class="form-group width6">
                    <label>Body Type<span class="text-danger">*</span></label>
                    <select class="form-control" name="bodyType" #body_type="ngModel"
                      [(ngModel)]="measurementDetailObj.bodyType"
                      [ngClass]="{'require': f.submitted && !body_type.valid}" required [disabled]="!isMediaSelect">
                      <option [value]="bt" *ngFor="let bt of bodyTypes">{{bt}}</option>
                    </select>
                  </div>
                  <div class="form-group width7">
                    <label>Weight<span class="text-danger">*</span></label>
                    <div class="switch6 " style="border:1px solid #999999;">
                      <label class="switch6-light" onclick="">
                        <input type="checkbox" name="isweightInLbs"
                          (click)="isHeightInFeet?(measurementDetailObj.weightMeasurement='KG'):(measurementDetailObj.weightMeasurement='LBS')"
                          [(ngModel)]="isweightInLbs" [disabled]="!isMediaSelect">
                        <span class="pointer">
                          <span>KG</span>
                          <span>LBS</span>
                        </span>
                        <a class="btn switch-colr"></a>
                      </label>
                    </div>
                    <input *ngIf="isweightInLbs" id="weight_disable" type="number" placeholder="lbs" class="form-control no-spin"
                      name="weight" [(ngModel)]="measurementDetailObj.weightLbs" #Weight="ngModel"
                      [ngClass]="{'require': f.submitted && !Weight.valid}" required
                      pattern="^((?<!-)\b([1-3]?\d{1,2}|400)\b|\d)(\.\d{1,2})?$" type="number"
                      [disabled]="!isMediaSelect">
                    <input *ngIf="!isweightInLbs" id="weight_disable" type="number" placeholder="kg" class="form-control no-spin"
                      name="weight" [(ngModel)]="measurementDetailObj.weightKiloGram" #Weight="ngModel"
                      pattern="^((?<!-)\b([1-3]?\d{1,2}|400)\b|\d)(\.\d{1,2})?$"
                      [ngClass]="{'require': f.submitted && !Weight.valid}" required type="number"
                      [disabled]="!isMediaSelect">
                  </div>
                  <div class="form-group">
                    <div class="">
                      <div><label>Hips/Bust/Waist<span class="text-danger">*</span></label></div>
                      <div class="switch6 margin-left-9" style="border:1px solid #999999;">
                        <label class="switch6-light">
                          <input type="checkbox" name="ismeasurementInCm"
                            (click)="isHeightInFeet?(measurementDetailObj.hipsBustWaistMeasurement='INCH'):(measurementDetailObj.hipsBustWaistMeasurement='CM')"
                            [(ngModel)]="ismeasurementInCm" [disabled]="!isMediaSelect">
                          <span class="pointer">
                            <span>IN</span>
                            <span>CM</span>
                          </span>
                          <a class="btn switch-colr"></a>
                        </label>
                      </div>
                    </div>
                    <div *ngIf="!ismeasurementInCm" class="d-flex">
                      <input type="number" class="form-control no-spin p-0 width4" name="hips" placeholder="inch"
                        [(ngModel)]="measurementDetailObj.hips" #hips="ngModel"
                        [ngClass]="{'require': f.submitted && !hips.valid}" required
                        pattern="^(?:100(?:\.00?)?|\d?\d(?:\.\d\d?)?)$" type="number" [disabled]="!isMediaSelect">
                      <input type="number" class="form-control no-spin p-0 width4" name="bust" placeholder="inch"
                        [(ngModel)]="measurementDetailObj.bust" #bust="ngModel"
                        pattern="^(?:100(?:\.00?)?|\d?\d(?:\.\d\d?)?)$"
                        [ngClass]="{'require': f.submitted && !bust.valid}" required type="number"
                        [disabled]="!isMediaSelect">
                      <input type="number" class="form-control no-spin p-0 width4" name="waist" placeholder="inch"
                        [(ngModel)]="measurementDetailObj.waist" #waist="ngModel"
                        pattern="^(?:100(?:\.00?)?|\d?\d(?:\.\d\d?)?)$"
                        [ngClass]="{'require': f.submitted && !waist.valid}" required type="number"
                        [disabled]="!isMediaSelect">
                    </div>
                    <div *ngIf="ismeasurementInCm" class="d-flex">
                      <input type="number" class="form-control no-spin p-0 width4" name="hips" placeholder="cm"
                        [(ngModel)]="measurementDetailObj.hips" #hips="ngModel"
                        pattern="^((0?[1-9]|[1-9][0-9]|[1][0-9][0-9]|200)\b|\d)(\.\d{1,2})?$"
                        [ngClass]="{'require': f.submitted && !hips.valid}" required type="number"
                        [disabled]="!isMediaSelect">
                      <input type="number" class="form-control no-spin p-0 width4" name="bust" placeholder="cm"
                        [(ngModel)]="measurementDetailObj.bust" #bust="ngModel"
                        pattern="^((0?[1-9]|[1-9][0-9]|[1][0-9][0-9]|200)\b|\d)(\.\d{1,2})?$"
                        [ngClass]="{'require': f.submitted && !bust.valid}" required type="number"
                        [disabled]="!isMediaSelect">

                      <input type="number" class="form-control no-spin p-0 width4" name="waist" placeholder="cm"
                        [(ngModel)]="measurementDetailObj.waist" #waist="ngModel"
                        pattern="^((0?[1-9]|[1-9][0-9]|[1][0-9][0-9]|200)\b|\d)(\.\d{1,2})?$"
                        [ngClass]="{'require': f.submitted && !waist.valid}" required type="number"
                        [disabled]="!isMediaSelect">
                    </div>
                  </div>
                </div>

                <div style="text-align:left">
                  <button type="button" class="btn upload-btn gray-bckgnd mr-2" (click)="f.resetForm()">Reset</button>
                  <button type="submit" class="btn upload-btn yello-bckgnd mr-2">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are You Sure You Want To Delete It ?
      </div>
      <div class="modal-footer">
        <button type="button" style="font-size:0.875rem !important" class="btn yello-btn-setting" data-dismiss="modal"
          (click)="deleteMedia()">Yes</button>
        <button type="button" data-dismiss="modal" class="btn holloBtn yello-border">No</button>
      </div>
    </div>
  </div>
</div>
