<div class="login-wrapper lgray-bckgnd d-flex justify-content-center align-items-center">
  <div class="login-box d-flex justify-content-end">
    <form #formChangePassword="ngForm"
      (ngSubmit)="formChangePassword.form.valid && (user.password == user.password_confirmation) && changePassword();">
      <!-- <a class="b-logo"><img routerLink="/login" class="" src="assets/login/Black Banner Logo.png"></a> -->
      <label id="signin" class="lable-title font-1 darkgray ml-3" for="exampleInputEmail1">Change Password</label>
      <div class="wrap-input100 validate-input m-b-23"
        [ngStyle]="{'margin-bottom': (createPassword?.errors?.pattern) ? '10px' : '23px'}">
        <span class="label-input100 align-self-left d-flex">New Password<span class="mandatory-field">
            *</span></span>
        <input class="form-control border-r10" [type]="!isCPwdVisible? 'password' : 'text'" id="createPassword"
          name="createPassword" #createPassword="ngModel" autocomplete="off" required [(ngModel)]="user.password"
          [ngClass]="{'in-valid': createPassword.invalid && formChangePassword.submitted}"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,20}$" maxlength="20" (keypress)="noSpace($event)"
          onpaste="return false" [ngStyle]="{'color': (createPassword?.errors?.pattern) ? '#dc3545' : ''}">
        <img *ngIf="isCPwdVisible" (click)="isCPwdVisible = !isCPwdVisible"
          src="../../../assets/icons/icons-visible.png" class="field-icon">
        <img *ngIf="!isCPwdVisible" (click)="isCPwdVisible = !isCPwdVisible"
          src="../../../assets/icons/icons-invisible.png" class="field-icon">
        <div
          *ngIf="(createPassword.invalid && (createPassword.dirty || createPassword.touched)) || (formChangePassword.submitted)"
          class="text-danger">
          <div *ngIf="!user.password && createPassword?.errors?.required">
            Create New Password is required
          </div>
          <div *ngIf="createPassword?.errors?.pattern">
            <!-- Invalid Password -->
            Min8,Max20,1Special,1Upper,1Num
          </div>
        </div>
      </div>
      <div class="wrap-input100 validate-input m-b-23">
        <span class="label-input100 align-self-left d-flex">Confirm New Password<span class="mandatory-field">
            *</span></span>
        <input class="form-control border-r10" [type]="!isCnfPwdVisible? 'password' : 'text'" id="confirmPassword"
          name="confirmPassword" #confirmPassword="ngModel" autocomplete="off" required
          [(ngModel)]="user.password_confirmation"
          [ngClass]="{'in-valid': confirmPassword.invalid && formChangePassword.submitted}" maxLength="16"
          (keypress)="noSpace($event)" onpaste="return false"
          [ngStyle]="{'color': (user.password && user.password_confirmation && user.password !== user.password_confirmation) ? '#dc3545' : ''}">
        <img *ngIf="isCnfPwdVisible" (click)="isCnfPwdVisible = !isCnfPwdVisible"
          src="../../../assets/icons/icons-visible.png" class="field-icon">
        <img *ngIf="!isCnfPwdVisible" (click)="isCnfPwdVisible = !isCnfPwdVisible"
          src="../../../assets/icons/icons-invisible.png" class="field-icon">
        <div
          *ngIf="(confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)) || (formChangePassword.submitted)"
          class="text-danger">
          <div *ngIf="!user.password_confirmation && confirmPassword?.errors?.required">
            Confirm Password is required
          </div>
        </div>
        <div *ngIf="user.password && user.password_confirmation && user.password !== user.password_confirmation"
          class="text-danger">
          Confirm password does not match!
        </div>
      </div>

      <button type="submit" class="btn btn-block login-btn">
        CHANGE PASSWORD
      </button>

    </form>
    <div id="whitePatch"></div>
  </div>
</div>
